
@{
    ViewData["Title"] = "UpdateTask";
}

@model Tasks
<h1>UpdateTasks</h1>

<form action="../TaskList/UpdateTask" method="post">
    <input type="text" name="TaskName" value="@Model.TaskName" />
    <input type="text" name="Description" value="@Model.Description" />
    <input type="date" name="DueDate" value="@Model.DueDate.ToString("yyyy-MM-dd")" />
    <input type="text" name="Complete" value="@Model.Complete" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="submit" class="btn-success" value="Update Tasks" />
</form>